@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800&display=swap");
.features-card-one {
  background-color: #e17f64;
}

.features-card-two {
  background-color: #98a4a5;
}

.features-card-three {
  background-color: #509bd7;
}

.features-card-one a {
  color: #e17f64;
}

.features-card-two a {
  color: #818c8d;
}

.features-card-image-one {
  background: url("../assets/images/feat-1.jpeg");
  background-size: cover;
}

.features-card-image-two {
  background: url("../assets/images/feat-2.jpg");
  background-size: cover;
}

.features-card-image-three {
  background: url("../assets/images/feat-3.png");
  background-size: cover;
}

.features-card-one {
  background-color: #e17f64;
}

.features-card-two {
  background-color: #98a4a5;
}

.features-card-three {
  background-color: #509bd7;
}

.features-card-one a {
  color: #e17f64;
}

.features-card-two a {
  color: #818c8d;
}

.features-card-image-one {
  background: url("../assets/images/feat-1.jpeg");
  background-size: cover;
}

.features-card-image-two {
  background: url("../assets/images/feat-2.jpg");
  background-size: cover;
}

.features-card-image-three {
  background: url("../assets/images/feat-3.png");
  background-size: cover;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

input {
  border-style: hidden;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5em;
  font-weight: 700;
  border-radius: 5px;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus {
  outline: none;
  background-color: #d35649;
}

.content-item > * + * {
  margin-top: 1em;
}

.footer-top-items-ul > * + * {
  margin-top: 0.8em;
}

.footer-middle-item-desc > * {
  margin: 0 auto;
}

.modal {
  display: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-body {
  position: fixed;
  top: 2em;
  bottom: 2em;
  right: 10%;
  left: 10%;
  background-color: #fff;
  overflow: auto;
  padding: 1em;
  z-index: 10;
}

.modal-body h2 {
  padding-top: 1.5em;
  color: #d35649;
}

.modal-body p {
  margin: 1em 0;
}

.modal-body form {
  padding: 1em;
}

.modal-body form p {
  text-align: start;
  margin: 0.8em 0;
}

.modal-body form p label {
  display: block;
  padding-bottom: 0.5em;
}

.modal-body form p input {
  border: 1px solid #444;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  border-radius: 0;
}

.modal-body form p button {
  background-color: #3975D7;
  border: none;
  padding: 0.4em 1em;
  color: #fff;
  font-size: 1rem;
}

.modal-body form p button:hover {
  background-color: #d35649;
}

.modal-close {
  cursor: pointer;
  border: 0;
  font-size: 1.2rem;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-weight: bold;
  color: red;
  background-color: #fff;
}

@media (min-width: 768px) {
  .modal .modal-body {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .modal .modal-body {
    max-width: 50%;
  }
}
/*# sourceMappingURL=modal.css.map */