@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800&display=swap");
.features-card-one {
  background-color: #e17f64;
}

.features-card-two {
  background-color: #98a4a5;
}

.features-card-three {
  background-color: #509bd7;
}

.features-card-one a {
  color: #e17f64;
}

.features-card-two a {
  color: #818c8d;
}

.features-card-image-one {
  background: url("../assets/images/feat-1.jpeg");
  background-size: cover;
}

.features-card-image-two {
  background: url("../assets/images/feat-2.jpg");
  background-size: cover;
}

.features-card-image-three {
  background: url("../assets/images/feat-3.png");
  background-size: cover;
}

.features-card-one {
  background-color: #e17f64;
}

.features-card-two {
  background-color: #98a4a5;
}

.features-card-three {
  background-color: #509bd7;
}

.features-card-one a {
  color: #e17f64;
}

.features-card-two a {
  color: #818c8d;
}

.features-card-image-one {
  background: url("../assets/images/feat-1.jpeg");
  background-size: cover;
}

.features-card-image-two {
  background: url("../assets/images/feat-2.jpg");
  background-size: cover;
}

.features-card-image-three {
  background: url("../assets/images/feat-3.png");
  background-size: cover;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

input {
  border-style: hidden;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5em;
  font-weight: 700;
  border-radius: 5px;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus {
  outline: none;
  background-color: #d35649;
}

.content-item > * + * {
  margin-top: 1em;
}

.footer-top-items-ul > * + * {
  margin-top: 0.8em;
}

.footer-middle-item-desc > * {
  margin: 0 auto;
}

.filter {
  margin-top: 20vh;
  background-color: #eee;
  padding: 1em 0.5em;
}

.filter h2 {
  color: #504d49;
  line-height: 1.2;
}

.filter-body {
  max-width: 480px;
  margin: 0 auto;
}

.filter-body-item {
  margin-top: 1em;
  text-align: left;
}

.filter-body-item label {
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}

.filter-body-item select {
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid #504d49;
  font-size: 1.1rem;
}

.filter-body-item select:focus {
  outline: 2px solid #3975d7;
}

.filter-body .search-btn,
.filter-body .clear {
  margin-top: 1em;
}

.filter-body .search-btn a,
.filter-body .clear a {
  text-decoration: none;
  display: block;
  background-color: #3975d7;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.filter-body .clear a {
  background-color: #c28a3d;
}

.sresult {
  padding-top: 1em;
  margin-bottom: 2em;
}

.sresult h2 {
  color: #504d49;
  line-height: 1.1;
  margin-top: 1em;
}

.sresult-box {
  margin: 1em;
}

.sresult-box-item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/images/dog2.jpg") center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/dog2.jpg") center;
  background-size: cover;
  padding: 1.5em 1em;
  color: #fff;
}

.sresult-box-item h2 {
  color: #fff;
  margin-bottom: 1em;
}

.sresult-box-item .rating {
  padding: 1em 0;
}

.sresult-box-item .rating span {
  background-color: #408713;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.sresult-box-item .phone {
  padding: 0.5em 0;
}

.sresult-box-item .phone i {
  color: #408713;
  font-size: 1.2rem;
}

.sresult-box-item .address {
  padding: 0.5em 0;
}

.sresult-box-item .time {
  padding: 0.5em 0;
  padding-bottom: 1em;
}

.sresult-box-item .details-btn a {
  text-decoration: none;
  font-size: 1.1rem;
  background-color: #d35649;
  padding: 0.3em 1em;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.sresult-box-item .details-btn a:hover {
  background-color: #f15625;
}

@media (min-width: 768px) {
  .filter {
    padding: 4em 0;
    text-align: center;
  }
  .filter-body {
    max-width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    margin-top: 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter-body-item {
    margin: 0 0.4em;
  }
  .filter-body-item label {
    font-size: 0.9rem;
  }
  .filter-body .search-btn {
    margin-top: 1.8em;
  }
  .filter-body .search-btn a {
    font-size: 0.9rem;
  }
  .filter-body .clear {
    margin-top: 1.8em;
  }
  .filter-body .clear a {
    white-space: nowrap;
    font-size: 0.9rem;
  }
  .sresult-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .sresult-box-item {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .sresult h2 {
    margin-bottom: 1.5em;
  }
  .sresult-items {
    grid-gap: 2em 5em;
    max-width: 90vw;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=result.css.map */