@import 'tools';
@import 'config';

.filter {
  margin-top: 20vh;
  background-color: map-get($map: $colors, $key: filter-bg);
  padding: 1em 0.5em;

  h2 {
    color: map-get($map: $colors, $key: text-light-black);
    line-height: 1.2;
  }

  &-body {
    max-width: 480px;
    margin: 0 auto;

    &-item {
      margin-top: 1em;
      text-align: left;

      label {
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-bottom: 0.4em;
      }

      select {
        width: 100%;
        padding: 0.5em 1em;
        border: 1px solid map-get($map: $colors, $key: text-light-black);
        font-size: 1.1rem;

        &:focus {
          outline: 2px solid map-get($map: $colors, $key: select-field);
        }
      }
    }

    .search-btn,
    .clear {
      margin-top: 1em;

      a {
        text-decoration: none;
        display: block;
        background-color: map-get($map: $colors, $key: select-field);
        padding: 0.5em 1em;
        color: #fff;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .clear a {
      background-color: #c28a3d;
    }
  }
}

.sresult {
  padding-top: 1em;
  margin-bottom: 2em;

  h2 {
    color: map-get($map: $colors, $key: text-light-black);
    line-height: 1.1;
    margin-top: 1em;
  }

  &-box {
    margin: 1em;

    &-item {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/images/dog2.jpg') center;
      background-size: cover;
      padding: 1.5em 1em;
      color: #fff;

      h2 {
        color: #fff;
        margin-bottom: 1em;
      }

      .rating {
        padding: 1em 0;

        span {
          background-color: #408713;
          padding: 0.2em 0.5em;
          border-radius: 5px;
        }
      }

      .phone {
        padding: 0.5em 0;

        i {
          color: #408713;
          font-size: 1.2rem;
        }
      }

      .address {
        padding: 0.5em 0;
      }

      .time {
        padding: 0.5em 0;
        padding-bottom: 1em;
      }

      .details-btn a {
        text-decoration: none;
        font-size: 1.1rem;
        background-color: map-get($map: $colors, $key: accent-color);
        padding: 0.3em 1em;
        color: #fff;
        font-weight: 600;
        border-radius: 5px;

        &:hover {
          background-color: map-get($map: $colors, $key: accent-dark);
        }
      }
    }
  }
}

@include tablet {
  .filter {
    padding: 4em 0;
    text-align: center;

    &-body {
      max-width: 90vw;
      display: flex;
      font-size: 1rem;
      margin-top: 1em;
      justify-content: space-between;

      &-item {
        margin: 0 0.4em;

        label {
          font-size: 0.9rem;
        }
      }

      .search-btn {
        margin-top: 1.8em;

        a {
          font-size: 0.9rem;
        }
      }

      .clear {
        margin-top: 1.8em;

        a {
          white-space: nowrap;
          font-size: 0.9rem;
        }
      }
    }
  }

  .sresult-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sresult-box-item {
    font-size: 0.9rem;
  }
}

@include desktop {
  .sresult {
    h2 {
      margin-bottom: 1.5em;
    }

    &-items {
      grid-gap: 2em 5em;
      max-width: 90vw;
      margin: 0 auto;
    }
  }
}
