@import 'config';
@import 'tools';
@import 'result';
@import 'details';
@import 'modal.scss';

.header {
  background-color: map-get($map: $colors, $key: accent-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &-logo {
    padding-top: 0.2em;

    &-image {
      width: 50%;
    }
  }

  .nav-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 80%;
    margin: 0 auto;

    .nav-item {
      padding: 0.5em 1em;

      &-link {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;

        &-text {
          display: none;
        }
      }
    }
  }
}

.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/images/dog1.jpg') center top no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 40vh 1em;
  // margin-top: -6.4em;
  text-transform: uppercase;

  &-heading {
    color: #fff;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  &-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5em;

    p {
      text-align: left;
      color: map-get($map: $colors, $key: text-light-black);
      margin-bottom: 0.2em;
    }

    input {
      display: block;
      width: 100%;
    }

    .btn-search {
      color: #fff;
      background-color: map-get($map: $colors, $key: accent-color);
      display: block;
      margin-top: 0.5em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
    }
  }

  .btn {
    text-decoration: none;
    border-radius: 5px;
  }

  .btn-works {
    color: map-get($map: $colors, $key: text-light-black);
    background-color: #fff;
    text-transform: initial;
    padding: 0.4em 1em;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 1em;
    margin-left: -4em;
  }
}

.content {
  padding: 1em 0;
  padding-bottom: 0;

  &-heading {
    color: map-get($map: $colors, $key: accent-color);
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1.5em;
  }

  &-items {
    margin: 2em 1em 1em;

    .content-item {
      margin: 2em 0;
      padding: 1em 0.5em;

      &-title {
        text-transform: uppercase;
        font-size: 1.1rem;
      }
    }

    p {
      color: map-get($map: $colors, $key: text-light-black);
    }
  }
}

.features {
  color: #fff;

  &-card {
    padding: 1em;

    &-image {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border-radius: 100%;
    }

    &-desc {
      margin-top: 1.5em;

      &-title {
        line-height: 1;
      }

      p {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      &-btn {
        display: inline-block;
        text-decoration: none;
        background-color: #fff;
        padding: 0.5em 1em;
        border-radius: 5px;
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 1em;
      }
    }
  }

  &-card-image-three {
    border-radius: 0;
  }
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 0 1em;

  &-top {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    &-items {
      display: flex;
      justify-content: space-evenly;

      &-ul {
        list-style-type: none;

        .footer-top-item {
          padding: 0 0.5em;

          .footer-top-link {
            text-decoration: none;
            font-size: 1rem;
            color: #fff;
            display: block;

            &-text {
              font-size: 0.9rem;
              display: none;
            }

            &:hover {
              color: map-get($map: $colors, $key: accent-color);
            }
          }
        }
      }
    }

    &-location-icon {
      font-size: 2rem;
      border: 1px solid map-get($map: $colors, $key: send-btn-bg);
      padding: 0.5em 0.6em;
      align-self: center;
      border-radius: 100%;
    }

    &-location-icon:hover {
      color: map-get($map: $colors, $key: accent-color);
      border-color: map-get($map: $colors, $key: accent-color);
    }
  }
}

.footer-middle {
  display: flex;
  flex-direction: column;

  &-item {
    margin: 1em 0;

    &-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 0.5em;
    }

    &-desc input {
      width: 75%;
      border: 1px solid map-get($map: $colors, $key: send-btn-bg);
      background-color: #000;
      border-radius: 0;
      font-weight: 400;
      font-size: 1rem;
      display: block;
    }

    &-desc input:hover {
      border-color: #fff;
    }

    &-desc p {
      font-size: 0.9rem;
    }
  }

  &-btn {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: map-get($map: $colors, $key: send-btn-bg);
    width: 75%;
    padding: 0.5em;
    margin-top: 0.5em;
    color: #fff;
    font-weight: 700;
  }

  &-email,
  &-more {
    font-size: 0.9rem;
    color: map-get($map: $colors, $key: accent-color);
    text-decoration: none;
  }
}

.footer-bottom {
  background-color: map-get($map: $colors, $key: footer-bottom-bg);
  margin: 0 -1em;
  text-transform: uppercase;
  font-size: 0.8rem;

  .social {
    margin: 0 1.5em;
    padding-top: 1em;

    &-items {
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
    }

    &-item {
      padding: 0.5em 1em;
    }

    &-link {
      color: #fff;
      display: block;
      font-size: 1rem;
    }
  }

  .copyright-info {
    margin-top: 1em;

    span {
      font-weight: 700;
      display: block;
    }
  }

  .powered {
    margin: 1em;

    span {
      font-weight: 700;
    }
  }

  .wishes {
    padding-bottom: 1em;
  }
}

@import 'media';
